<!-- Checkbox One ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox29" class="testing_28">
  <label for="checkbox29">Build Home Page (Referto Mockup)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, remote: true, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twentyeight, false, :checked => true, :value => false, id: "build_twentyeight_28_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twentyeight, true, :value => true, id: "build_twentyeight_28_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twentyeight", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Two ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox30" class="testing_29">
  <label for="checkbox30">Build About Page (with Contact form)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twentynine, false, :checked => true, :value => false, id: "build_twentynine_29_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twentynine, true, :value => true, id: "build_twentynine_29_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twentynine", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Three ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox4" class="testing_3">
  <label for="checkbox4">Build Service Pages (with Contact form)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_three, false, :checked => true, :value => false, id: "build_three_3_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_three, true, :value => true, id: "build_three_3_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_three", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Four ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox5" class="testing_4">
  <label for="checkbox5">Build Testimonials Page (with Contact form)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_four, false, :checked => true, :value => false, id: "build_four_4_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_four, true, :value => true, id: "build_four_4_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_four", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox five ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox6" class="testing_5">
  <label for="checkbox6">Build Blog Page & Contact Page (with Contact form)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_five, false, :checked => true, :value => false, id: "build_five_5_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_five, true, :value => true, id: "build_five_5_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_five", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>


<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox7" class="testing_6">
  <label for="checkbox7">Implement Social Media Icons / Links</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_six, false, :checked => true, :value => false, id: "build_six_6_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_six, true, :value => true, id: "build_six_6_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_six", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox seven ////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox8" class="testing_7">
  <label for="checkbox8">Business Number, Address(&Maps), & Email</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_seven, false, :checked => true, :value => false, id: "build_seven_7_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_seven, true, :value => true, id: "build_seven_7_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_seven", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Eight ////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox9" class="testing_8">
  <label for="checkbox9">Add Our Info In Footer</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_eight, false, :checked => true, :value => false, id: "build_eight_8_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_eight, true, :value => true, id: "build_eight_8_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_eight", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox five ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox15" class="testing_14">
  <label for="checkbox15">Create Favicon</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_fourteen, false, :checked => true, :value => false, id: "build_fourteen_14_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_fourteen, true, :value => true, id: "build_fourteen_14_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_fourteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Nine ////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox10" class="testing_9">
  <label for="checkbox10">Review Website (Mobile, Ipad, Desktop)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_nine, false, :checked => true, :value => false, id: "build_nine_9_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_nine, true, :value => true, id: "build_nine_9_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_nine", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
