<!-- Checkbox One ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox11" class="testing_10">
  <label for="checkbox11">Internal Services Pages (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_ten, false, :checked => true, :value => false, id: "build_ten_10_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_ten, true, :value => true, id: "build_ten_10_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_ten", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Two ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox12" class="testing_11">
  <label for="checkbox12">Testimonials (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_eleven, false, :checked => true, :value => false, id: "build_eleven_11_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_eleven, true, :value => true, id: "build_eleven_11_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_eleven", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Three ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox13" class="testing_12">
  <label for="checkbox13">Testimonials (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twelve, false, :checked => true, :value => false, id: "build_twelve_12_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twelve, true, :value => true, id: "build_twelve_12_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twelve", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Four ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox14" class="testing_13">
  <label for="checkbox14">Testimonials (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_thirteen, false, :checked => true, :value => false, id: "build_thirteen_13_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_thirteen, true, :value => true, id: "build_thirteen_13_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_thirteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox five ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox15" class="testing_14">
  <label for="checkbox15">Testimonials (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_fourteen, false, :checked => true, :value => false, id: "build_fourteen_14_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_fourteen, true, :value => true, id: "build_fourteen_14_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_fourteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>


<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox16" class="testing_15">
  <label for="checkbox16">Testimonials (√)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_fifthteen, false, :checked => true, :value => false, id: "build_fifthteen_15_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_fifthteen, true, :value => true, id: "build_fifthteen_15_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_fifthteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>