<section>
  <!-- Renders backtrack button -->
  <%= render "./posts/backtrack" %>
  <!-- end  -->
  <div class="container">
    <div class="col-8">
      <div class="container-inner-create-page">
        <%= form_with(model: project, local: true) do |form| %>
          <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <h2 class="form-labels">Enter Project Name</h2>
            <p class="form-sub-txt">You can enter a maximum of 30 characters</p> 
            <%= form.text_field :name, id: :project_name, :maxlength => 30, :size => 30, :class => "input_forms", placeholder: "Give your project a name", required: true %>
          </div>
          <div class="field">
            <h2 class="form-labels">Enter Basecamp Link</h2>
            <%= form.text_field :plinks, id: :project_name, :class => "input_forms", placeholder: "Enter basecamp project progress link", required: true %>
          </div>
          <div class="field">
            <h2 class="form-labels">Enter Mockup Link</h2>
            <%= form.text_field :mockup, id: :project_name, :class => "input_forms", placeholder: "Enter project mockup link", required: true %>
          </div>

          <div class="field">
            <h2 class="form-labels">Enter Developer Site Link</h2>
            <%= form.text_field :devlink, id: :project_name, :class => "input_forms", placeholder: "Enter developer site link", required: true %>
          </div>

          <div class="field">
            <h2 class="form-labels">Account Manager</h2>
              <div>
                <div id="info_true">
                  <%= form.select(:accountm, [['aja', 'aja'],
                                  ['jules', 'jules'],
                                  ['orlando', 'orlando'],
                                  ['taylor', 'taylor'],
                                  ['tay', 'tay']
                                  ],{ :prompt => "Please select"}
                                 ) %>
                </div>
              </div>
          </div>

          <div class="field">
            <h2 class="form-labels">Site Developer</h2>
              <div>
                <div id="info_true">
                  <%= form.select(:developer, [['dan', 'dan'],
                                  ['oscar', 'oscar'],
                                  ['manny', 'manny']
                                  ],{ :prompt => "Please select"}
                                 ) %>
                </div>
              </div>
          </div>

          <div class="field">
            <h2 class="form-labels">Site Designer</h2>
              <div>
                <div id="info_true">
                  <%= form.select(:designer, [['stef', 'stef'],
                                  ['manny', 'manny']
                                  ],{ :prompt => "Please select"}
                                 ) %>
                </div>
              </div>
          </div>

          <div class="field">
            <h2 class="form-labels">Project Status</h2>
              <div>
                <div id="info_true">
                  <%= form.select(:activebuild, [['ActiveBuild', 'ActiveBuild'],
                                  ['Inactive', 'Inactive'],
                                  ['Launched', 'Launched']
                                  ],{ :prompt => "Please select"}
                                 ) %>
                </div>
              </div>
          </div>

          <div class="field">
            <h2 class="form-labels">Editor Access</h2>
              <div>
                <div id="info_true">
                  <%= form.select(:editaccess, [['Locked', 'fa-lock'],
                                  ['Editable', '']
                                  ],{ :prompt => "Please select"}
                                 ) %>
                </div>
              </div>
          </div>

          <!-- button to addfriend method here -->
           <div class="field">
            <h2 class="form-labels">Enter Project Date</h2>
            <p class="form-sub-txt">Today's date</p> 
      			<input type="text" id="today" readonly="true" disabled="true", class="input_forms" />
            <p class="form-sub-txt">Project Start Date</p> 
            <%= form.text_field :start_date, id: "startDate" , onchange: "javascript:updateProgress();", class: "input_forms", required: true %>
            <p class="form-sub-txt">Project End Date</p> 
            <%= form.text_field :end_date, id: "endDate" , onchange: "javascript:updateProgress();", class: "input_forms", required: true %>
          </div>

          <div class="actions">
            <%= form.submit class: "btn-create-new", data: { confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <p class="btn-resources-edit"><i class="fa fa-angle-down" aria-hidden="true"></i></p>
      <%= link_to 'See All Projects', projects_path, class: "btn-resources-edit" %>
    </div>
  </div>
</section>
