<!-- Checkbox One ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox17" class="testing_16">
  <label for="checkbox17">Mega Menu</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_sixteen, false, :checked => true, :value => false, id: "build_sixteen_16_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_sixteen, true, :value => true, id: "build_sixteen_16_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_sixteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Two ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox18" class="testing_17">
  <label for="checkbox18">Interior Pages (Nicely Designed)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_seventeen, false, :checked => true, :value => false, id: "build_seventeen_17_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_seventeen, true, :value => true, id: "build_seventeen_17_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_seventeen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Three ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox19" class="testing_18">
  <label for="checkbox19">Form Logging (Add Plugin)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_eighteen, false, :checked => true, :value => false, id: "build_eighteen_18_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_eighteen, true, :value => true, id: "build_eighteen_18_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_eighteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox Four ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox20" class="testing_19">
  <label for="checkbox20">ADA Compliance (Dental Websites Only)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_nineteen, false, :checked => true, :value => false, id: "build_nineteen_19_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_nineteen, true, :value => true, id: "build_nineteen_19_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_nineteen", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox five ////////////////////////////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox21" class="testing_20">
  <label for="checkbox21">Our info at the bottom (Digital Resource)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twentee, false, :checked => true, :value => false, id: "build_twentee_20_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twentee, true, :value => true, id: "build_twentee_20_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twentee", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>


<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox22" class="testing_21">
  <label for="checkbox22">Yoast SEO (Add Plugin)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteeone, false, :checked => true, :value => false, id: "build_twenteeone_21_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteeone, true, :value => true, id: "build_twenteeone_21_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteeone", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox23" class="testing_22">
  <label for="checkbox23">Forms (Set wth Correct Email)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteetwo, false, :checked => true, :value => false, id: "build_twenteetwo_22_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteetwo, true, :value => true, id: "build_twenteetwo_22_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteetwo", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox24" class="testing_23">
  <label for="checkbox24">Responsive (Mobile, Ipad, Mobile)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteethree, false, :checked => true, :value => false, id: "build_twenteethree_23_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteethree, true, :value => true, id: "build_twenteethree_23_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteethree", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox25" class="testing_24">
  <label for="checkbox25">Page Speed (GTMetrix, Pingdom, Google Page Speed)</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteefour, false, :checked => true, :value => false, id: "build_twenteefour_24_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteefour, true, :value => true, id: "build_twenteefour_24_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteefour", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox26" class="testing_25">
  <label for="checkbox26">Remove all the demo pages from new site</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteefive, false, :checked => true, :value => false, id: "build_twenteefive_25_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteefive, true, :value => true, id: "build_twenteefive_25_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteefive", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>

<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox27" class="testing_26">
  <label for="checkbox27">Make sure WordFence is installed</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteesix, false, :checked => true, :value => false, id: "build_twenteesix_26_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteesix, true, :value => true, id: "build_twenteesix_26_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteesix", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>


<!-- Checkbox six /////////////////////////////// -->
<div class="checkbox check-primary relative-for-checkboxes">
  <input type="checkbox" value="1" id="checkbox28" class="testing_27">
  <label for="checkbox28">Clickable phone numbers, maps and addresses are correct</label>
  <div class="check-boxes-todo-list">
    <%= form_with(model: @project, local: true) do |form| %>
      <div>
        <div id="info_true">
          <%= form.radio_button :build_twenteeseven, false, :checked => true, :value => false, id: "build_twenteeseven_27_1", :style => "visibility:hidden"  %>
          <%= form.radio_button :build_twenteeseven, true, :value => true, id: "build_twenteeseven_27_2", :style => "visibility:hidden" %>
        </div>
      </div>
      <%= form.submit id: "build_twenteeseven", :style => "visibility:hidden;", data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>