<style>
/* Radio */
/*
input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}​*/
input[type="radio"] {
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #1e2022;
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #3ac569;
}​
.jumbotron {
  background-color:#f5f6f7 !important;
}
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper ">
    <!-- START PAGE CONTENT -->
    <div class="content ">
      <!-- START JUMBOTRON -->
      <div class="jumbotron actions-absolute" style="background-color:#f5f6f7!important;border-bottom:1px solid#eaeaeb;">
        <div class=" container p-l-0 p-r-0   container-fixed-lg sm-p-l-0 sm-p-r-0">
          <div class="inner">
            <!-- START BREADCRUMB -->
            <div class="row">
              <div class="col-xl-5 col-lg-6 ">
                <!-- START card -->
                      <style type="text/css">
                        .back-text {
                          font-family: 'Montserrat';
                          text-transform: uppercase;
                          display: inline-block;
                          letter-spacing: 0.06em;
                          font-size: 10.5px;
                          font-weight: 500;
                          margin: 0;
                          padding: 6px 0 0px 4px;
                          line-height: normal;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          -webkit-text-stroke: 0px;
                          filter: alpha(opacity=40);
                          -webkit-transition: opacity 0.3s ease;
                          transition: opacity 0.3s ease;
                          color:#64676a;
                        }
                        .back-container {
                          padding-top: 1em;
                        }
                      </style>
                      <div class="back-container">
                        <a href="/">
                          <img style="width:25px;height:25px;vertical-align:top;" src="https://i.imgur.com/TiINSND.png" />
                          <span class="back-text">View All Projects</span>
                        </a>
                      </div>
                      <% if user_signed_in?%>
                      <%= link_to 'Edit', edit_project_path(@project) %>
                      <% end %>
                <div class="card card-transparent">
<!--                   <div class="card-header">
                    <div class="card-title">Active Website Build</div>
                  </div> -->
                  <div class="card-block">
										<div class="col-md-12 d-flex" style="padding:0">
				              <!-- START WIDGET widget_weekly_sales_card-->
				              <div class="no-border widget-loader-bar m-b-10 m-r-10">
				                <div class="container-xs-height full-height">
				                  <div class="row-xs-height">
				                    <div class="col-xs-height col-top">
				                      <div class="p-t-5 p-b-30">
				                        <h1 class="no-margin p-b-20"><%= @project.name %></h1>
				                        <span class="small hint-text pull-left">Start: <%= @project.start_date.strftime("%m/%d/%Y") %></span>
				                        <span class="pull-right hint-text">Launch: <%= @project.end_date.strftime("%m/%d/%Y") %></span>
				                      </div>
				                    </div>
				                  </div>
				                  <div class="row-xs-height">
				                    <div class="col-xs-height col-bottom">
				                      <div id="progressbarForm">
				                        <div id="progressbar">
				                        </div>
				                      </div>
				                    </div>
				                  </div>
				                </div>
				              </div>
				              <!-- END WIDGET -->
				            </div>

                    <div>
                    	<h5>Project Members</h5>
                      <div class="profile-img-wrapper m-t-5 inline">
                        <div style="width:35px;height:35px;background:url('https://stupefied-hawking-2bbe75.netlify.com/<%= @project.accountm %>.png');background-position:top center;background-size:cover;background-repeat:no-repeat;"></div>
                        <div class="chat-status available">
                        </div>
                      </div>
                      <div class="profile-img-wrapper m-t-5 m-l-10 inline">
                        <div style="width:35px;height:35px;background:url('https://stupefied-hawking-2bbe75.netlify.com/<%= @project.developer %>.png');background-position:top center;background-size:cover;background-repeat:no-repeat;"></div>
                        <div class="chat-status available">
                        </div>
                      </div>
                      <div class="profile-img-wrapper m-t-5 m-l-10 inline">
                        <div style="width:35px;height:35px;background:url('https://stupefied-hawking-2bbe75.netlify.com/<%= @project.designer %>.png');background-position:top center;background-size:cover;background-repeat:no-repeat;"></div>
                        <div class="chat-status available">
                        </div>
                      </div>
                      <div style="clear:both;"></div>
                      <h5>Dev Link</h5>
                      <a style="color:#2b90d9;" href="<%= @project.devlink %>" target="_blank"><%= @project.devlink %></a>
                      <br style="height:20px;" />
                    </div>

                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-xl-7 col-lg-6 ">
                <!-- START card -->
                <div class="card card-default" id="scroll">

                <style type="text/css">
                  #scroll {
                    position:relative;
                    height:400px!important;
                    padding:20px!important;
                    overflow:scroll!important;
                  }
                  .project-preview {position:relative;}
                  @media all and (max-width:991px) {
                    #scroll {
                      display:none;
                    } 
                  }
                </style>
                  <div class="card-block text-center project-preview">
                    <img class="image-responsive-height demo-mw-600" src="<%= @project.mockup %>" alt="">
                  </div>
                </div>
                <!-- END card -->
              </div>              
            </div>
          </div>
        </div>
      </div>
      <!-- END JUMBOTRON -->
      <!-- START CONTAINER FLUID -->
      <div class=" container    container-fixed-lg">
        <!-- START card -->
        <div class="card card-default">
          <div class="card-header ">
            <div class="card-title">Website Build Checklist
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;"></a>
              <a class="config" data-toggle="modal" href="#grid-config"></a>
              <a class="reload" href="javascript:;"></a>
              <a class="remove" href="javascript:;"></a>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-lg-4">
                <h5>Website
                  <span class="semi-bold">Content</span>
                </h5>
                <p>Content team will provide all of the content and images needed throughout the website. Content team will also review content to make sure that it was added correctly.</p>
                <br>
                <%= render 'contentcheckboxes' %>
                <br />
                <h5>Website 
                  <span class="semi-bold">Build</span>
                </h5>
                <p>In this phase we will build out the structure of the home page, internal pages, setup contact forms and overall site map.</p>
                <br>
                <%= render 'websitecheckboxes' %>
              </div>
              <div class="col-lg-4">
                <h5>Pre-Launch
                  <span class="semi-bold">Checklist</span>
                </h5>
                <p>Web Developer will review/complete this list prior to launching the website. Some of these checkboxes don't apply to all website.</p>
                <br>
                <%= render "prelaunch" %>
              </div>
              <div class="col-lg-4">
                <h5>Account Manager
                  <span class="semi-bold">Checklist</span>
                </h5>
                <p>Account managers will review this checklist prior to submitting the website to the client.</p>
                <br>
                <%= render "accountchecklist" %>
              </div>
            </div>
          </div>
        </div>
        <!-- END card -->
      </div>
      <!-- END CONTAINER FLUID -->

    </div>
    <!-- END Search Result Item !-->
	</div>
<div style="clear:both;"></div>
<%= render "showlogic" %>