<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
  <div id="progressbarForm">
			<fieldset>		
				<legend>Progress</legend>
				<div id="progressbar"></div>
			</fieldset>
    </div>
<p>
  <strong>Start date:</strong>
  <%= @project.start_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<script>
	// Update the progressbar
  
  $( document ).ready(function() {
  
	function updateProgress() {
		var startDate = "<%= @project.start_date %>";
		var endDate = "<%= @project.end_date %>";

		if (startDate != "" && endDate != "") {
			var minDate = new Date(convertStringToDate(startDate));
			var today = new Date();
			var maxDate = new Date(convertStringToDate(endDate));

			var nbTotalDays = Math.floor((maxDate.getTime() - minDate.getTime()) / 86400000);
			var nbPastDays = Math.floor((today.getTime() - minDate.getTime()) / 86400000);

			var percent = nbPastDays / nbTotalDays * 100;

			// Extreme cases
			if (percent < 0) {
				percent = 0;
			} else if (percent > 100) {
				percent = 100;
			}
		
			$("#progressbar").reportprogress(percent);
		}
	}
  
  
    updateProgress();
  });
  </script>