<style>
/* Radio */
/*
input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}​*/
input[type="radio"] {
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #1e2022;
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #3ac569;
}​
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper ">
    <!-- START PAGE CONTENT -->
    <div class="content ">
      <!-- START JUMBOTRON -->
      <div class="jumbotron">
        <div class=" container p-l-0 p-r-0   container-fixed-lg sm-p-l-0 sm-p-r-0">
          <div class="inner">
            <!-- START BREADCRUMB -->
            <div class="row">
              <div class="col-xl-7 col-lg-6 ">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-block text-center">
                    <img class="image-responsive-height demo-mw-600" src="https://cdn.dribbble.com/users/110943/screenshots/3757963/01.jpg" alt="">
                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-xl-5 col-lg-6 ">
                <!-- START card -->
                <div class="card card-transparent">
                  <div class="card-header">
                    <div class="card-title">Active Website Build</div>
                  </div>
                  <div class="card-block">
										<div class="col-md-12 d-flex" style="padding:0">
				              <!-- START WIDGET widget_weekly_sales_card-->
				              <div class="no-border widget-loader-bar m-b-10 m-r-10">
				                <div class="container-xs-height full-height">
				                  <div class="row-xs-height">
				                    <div class="col-xs-height col-top">
				                      <div class="p-t-5 p-b-30">
				                        <h1 class="no-margin p-b-20"><%= @project.name %></h1>
				                        <span class="small hint-text pull-left">Start: <%= @project.start_date.strftime("%m/%d/%Y") %></span>
				                        <span class="pull-right small text-primary">Launch: <%= @project.end_date.strftime("%m/%d/%Y") %></span>
				                      </div>
				                    </div>
				                  </div>
				                  <div class="row-xs-height">
				                    <div class="col-xs-height col-bottom">
				                      <div id="progressbarForm">
				                        <div id="progressbar">
				                        </div>
				                      </div>
				                    </div>
				                  </div>
				                </div>
				              </div>
				              <!-- END WIDGET -->
				            </div>

                    <div>
                    	<h5>Project Members</h5>
                      <div class="profile-img-wrapper m-t-5 inline">
                        <img width="35" height="35" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="">
                        <div class="chat-status available">
                        </div>
                      </div>
                      <div class="profile-img-wrapper m-t-5 m-l-10 inline">
                        <img width="35" height="35" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                        <div class="chat-status available">
                        </div>
                      </div>
                      <div class="profile-img-wrapper m-t-5 m-l-10 inline">
                        <img width="35" height="35" src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg" alt="">
                        <div class="chat-status available">
                        </div>
                      </div>
                      <% if user_signed_in?%>
                      <div style="clear:both;height:10px;"></div>
                      <%= link_to 'Edit', edit_project_path(@project) %> |
                      <% end %>
                      <%= link_to 'Back', projects_path %>
                    </div>

                  </div>
                </div>
                <!-- END card -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END JUMBOTRON -->
      <!-- START CONTAINER FLUID -->
      <div class=" container    container-fixed-lg">
        <!-- START card -->
        <div class="card card-default">
          <div class="card-header ">
            <div class="card-title">Website Build Checklist
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;"></a>
              <a class="config" data-toggle="modal" href="#grid-config"></a>
              <a class="reload" href="javascript:;"></a>
              <a class="remove" href="javascript:;"></a>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-lg-4">
                <h5>Website 
                  <span class="semi-bold">Build</span>
                </h5>
                <p>In this phase we will build out the structure of the home page, internal pages, setup contact forms and overall site map.</p>
                <br>
                <%= render 'checkboxes' %>
              </div>
              <div class="col-lg-4">
                <h5>Website
                  <span class="semi-bold">Content</span>
                </h5>
                <p>Content team will provide all of the content and images needed throughout the website. Content team will also review content to make sure that it was added correctly.</p>
                <br>
                <div class="checkbox  check-primary">
                  <input type="checkbox" value="1" id="checkbox7">
                  <label for="checkbox7">Added Content</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox8">
                  <label for="checkbox8">Added Images</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox9">
                  <label for="checkbox9">Completed Content Revisions</label>
                </div>
              </div>
              <div class="col-lg-4">
                <h5>Pre-Launch
                  <span class="semi-bold">Checklist</span>
                </h5>
                <p>These act the same way as normal HTML check boxes. Here are some states that</p>
                <br>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="2" id="checkbox10">
                  <label for="checkbox10">Mega Menu</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox11">
                  <label for="checkbox11">Interior Pages (Nicely Designed)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox12">
                  <label for="checkbox12">Form Logging (Add Plugin)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox13">
                  <label for="checkbox13">ADA Compliance (Dental Websites Only)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox14">
                  <label for="checkbox14">Our info at the bottom (Digital Resource)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox15">
                  <label for="checkbox15">Yoast SEO (Add Plugin)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox16">
                  <label for="checkbox16">Forms (Set wth Correct Email)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox17">
                  <label for="checkbox17">Responsive (Mobile, Ipad, Mobile)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox18">
                  <label for="checkbox18">Page Speed (GTMetrix, Pingdom, Google Page Speed)</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox19">
                  <label for="checkbox19">Remove all the demo pages from new site</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox20">
                  <label for="checkbox20">Make sure WordFence is installed</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox21">
                  <label for="checkbox21">Clickable phone numbers, maps and addresses are correct</label>
                </div>
              </div>
              <div class="col-lg-4">
                <h5>Website
                  <span class="semi-bold">Content</span>
                </h5>
                <p>Content team will provide all of the content and images needed throughout the website. Content team will also review content to make sure that it was added correctly.</p>
                <br>
                <div class="checkbox  check-primary">
                  <input type="checkbox" value="1" id="checkbox7">
                  <label for="checkbox7">Added Content</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox8">
                  <label for="checkbox8">Added Images</label>
                </div>
                <div class="checkbox check-primary">
                  <input type="checkbox" value="1" id="checkbox9">
                  <label for="checkbox9"Completed Content Revisions</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END card -->
      </div>
      <!-- END CONTAINER FLUID -->

    </div>
    <!-- END Search Result Item !-->
	</div>
<div style="clear:both;"></div>
<script type="text/javascript" async>

  $('#toggler').click(function() {
      $('input[type="radio"]').not(':checked').prop("checked", true);
      $('#div1').html($('input[type="radio"]:checked').val())
  });

	// Update the progressbar
  
  $( document ).ready(function() {

  // Check Box 1 -------------------------------------------
  $('.testing').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_one').click(); 
  });

  if ($('input#build_one_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox2').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox2").checked=true;
    }
  }

  // Check Box 2 -------------------------------------------
  $('.testing_2').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_two').click(); 
  });

  if ($('input#build_two_2_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox3').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox3").checked=true;
    }
  }

  // Check Box 3 -------------------------------------------
  $('.testing_3').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_three').click(); 
  });

  if ($('input#build_three_3_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox4').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox4").checked=true;
    }
  }

  // Check Box 4 -------------------------------------------
  $('.testing_4').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_four').click(); 
  });

  if ($('input#build_four_4_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox5').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox5").checked=true;
    }
  }

  // Check Box 5 -------------------------------------------
  $('.testing_5').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_five').click(); 
  });

  if ($('input#build_five_5_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox6').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox6").checked=true;
    }
  }

  // Check Box 6 -------------------------------------------
  $('.testing_6').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_six').click(); 
  });

  if ($('input#build_six_6_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox7').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox7").checked=true;
    }
  }

  // Check Box 7 -------------------------------------------
  $('.testing_7').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_seven').click(); 
  });

  if ($('input#build_seven_7_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox8').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox8").checked=true;
    }
  }

  // Check Box 8 -------------------------------------------
  $('.testing_8').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_eight').click(); 
  });

  if ($('input#build_eight_8_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox9').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox9").checked=true;
    }
  }

  // Check Box 9 -------------------------------------------
  $('.testing_9').click(function() {
    $('input[type="radio"]').not(':checked').prop("checked", true);
    $('#build_nine').click(); 
  });

  if ($('input#build_nine_9_2').is(':checked')) {
    var isChecked= document.getElementById('checkbox10').checked;
    if(isChecked){ //checked
      console.log('Not Checked')
    }else{ //unchecked
      document.getElementById("checkbox10").checked=true;
    }
  }

	function updateProgress() {
		var startDate = "<%= @project.start_date %>";
		var endDate = "<%= @project.end_date %>";

		if (startDate != "" && endDate != "") {
			var minDate = new Date(convertStringToDate(startDate));
			var today = new Date();
			var maxDate = new Date(convertStringToDate(endDate));

			var nbTotalDays = Math.floor((maxDate.getTime() - minDate.getTime()) / 86400000);
			var nbPastDays = Math.floor((today.getTime() - minDate.getTime()) / 86400000);

			var percent = nbPastDays / nbTotalDays * 100;

			// Extreme cases
			if (percent < 0) {
				percent = 0;
			} else if (percent > 100) {
				percent = 100;
			}
		
			$("#progressbar").reportprogress(percent);
		}
	}
  
  
    updateProgress();
  });
  </script>
