<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>YDR | Developer Corner</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="shortcut icon" href="https://i.imgur.com/0ZyRo7L.png" />
    <!-- <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" /> -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/css/dashboard.widgets.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/pages/css/themes/modern.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
/*        .checkbox label:before {
            display: none !important;
        }
        .radio label, .checkbox label, label {
            margin-left: 0 !important;
            padding-left:0 !important;
        }*/
        .relative-for-checkboxes {
            position: relative;
            z-index:0;
        }
        .check-boxes-todo-list {
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
        }
        .horizontal-app-menu .header .header-inner .brand.inline {
            padding-left:0;
            margin-left:0;
        }
    </style>
  </head>
    <body class="horizontal-menu horizontal-app-menu dashboard mac desktop pace-done">
    <% if user_signed_in?  %>
      <%= render 'layouts/navigation' %>
    <% end %>
    
    <%= yield %>

    <div style="clear:both;height:100px;"></div>
    <%= render 'layouts/footer' %>


       <!-- BEGIN VENDOR JS -->
    <script src="/assets/plugins/pace/pace.min.js" type="text/javascript" defer></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript" defer></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" defer></script>
    <script src="/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" defer></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <!-- <script src="/pages/js/pages.min.js"></script> -->
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/assets/js/dashboard.js" type="text/javascript" defer></script>
    <script src="/assets/js/scripts.js" type="text/javascript" defer></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>